.btn-cart {
    background-color:rgb(218, 12, 50) !important ;
    color: white !important;
}
.btn-cart:hover{
    background-color:rgb(232, 47, 81) !important ;
}
.imgProduct{
    width: 7rem;
    height:auto;
    display: flex;    
}
.totalCarrito{
    font-size: 30px;
    margin:30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-finalizar{
    background-color: rgb(96, 215, 56)!important;
    height: 50px!important;
    align-items: center!important;
    vertical-align: middle!important;
}