.btn-cart {
    background-color:rgb(218, 12, 50) !important ;
    color: white !important;
}
.btn-cart:hover{
    background-color:rgb(232, 47, 81) !important ;
}
.imgProduct{
    width: 7rem;
    height:auto;
    display: flex;    
}
.totalCarrito{
    font-size: 30px;
    margin:30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-gradient{
    background: rgb(0,204,255);
background: linear-gradient(222deg, rgba(0,204,255,1) 0%, rgba(116,45,253,1) 100%);
    color: white !important;
    margin: 10px;
}
.btn-gradient:hover{
    background: rgb(0,204,255);
background: linear-gradient(222deg, rgb(33, 187, 225) 0%, rgb(85, 23, 209) 100%);
    color: white !important;
    margin: 10px;
}
