.contadorDetail{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.detailer{
    background-color: white;
    display: flex;
    margin: 30px;
    padding: 10px;
}
.imgDetail{
    height: auto;
    width: 600px;
}
.ladoB{
    text-align: left;
    padding:20px;

}
.titleDetail{
    color: rgba(116,45,253,1);
    font-weight:700;
    font-size: 35px;
}
.btn-pagar{
    background: rgb(0,204,255);
background: linear-gradient(222deg, rgba(0,204,255,1) 0%, rgba(116,45,253,1) 100%);
color:white !important;
}
.btn-pagar:hover{
    background: rgb(0,204,255);
background: linear-gradient(222deg, rgb(1, 167, 208) 0%, rgb(84, 27, 198) 100%);
color:white !important;
}

